body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  color: white;
  text-align: left;
  font-size: 30px;
  margin-top: 1%;
  margin-left: 2%;

}

footer {
  text-align: center;
}

.hidden {
  display: none;
}

.landing-title {
  font-family: 'Megrim', cursive;
  color: #A31312;
  position: absolute;
  margin-left: 20%;
  font-size: 95px;
  font-weight: 900;
}

.landing-instructions {
  font-family: 'Megrim', cursive;
  color: #A31312;
  position: absolute;
  margin-left: 20%;
  margin-top: 40%;
  font-size: 24px;
  font-weight: 900;
}

.navbar-wrapper {
  position: fixed;
  background-color: #A31312;
  width: 100%;
  height: 50%;
}

.landing-wrapper {
  display: inline-block;
}

.landing-wrapper img {
  width: 100%;
  display: inline-block;
}

.lower-wrapper {
  width: 100%;
  margin-top: -1%;
  padding: 2%;
  background-color: #A31312;
}

.boxes-wrapper {
  margin-left: 2%;
}

.show-api-data {
  display: inline-block;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 5px;
  padding: 20px;
  background-color: #BFBCBD;
  box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
/* Annimation and Fade-In */

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay:1.4s;
  animation-delay: 1.4s;
}