@media only screen and (max-width: 950px) {
  .down-icon-wrapper {
    display: none;
  }
  
  .upper-boxes-wrapper, .lower-boxes-wrapper {
    
  }

  .landing-title {
    font-size: 56px;
  }

  .boxes-wrapper {
    padding-left: 0%;
  }

  .show-api-data {
    margin-left: 1%;
  }
}

@media only screen and (max-width: 600px) {
  .landing-title {
    font-size: 34px;
  }

  .down-icon-wrapper {
    display: none;
  }

  boxes-wrapper {
    padding-left: 0%;
  }

  .show-api-data {
    margin-left: 10%;
  }
}