@media only screen and (max-width: 1000px) {
  .landing-title {
    font-size: 56px;
  }

  .boxes-row-1, .boxes-row-2 {
    display: none;
  }

  .show-api-data {
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  .landing-title {
    font-size: 34px;
  }
}